.resistor {
    border-radius: 20px;
    background-color:aliceblue;
    width: 40px;
    height: 260px;
    top:20px;
    border: solid;
    border-color: darkgray;
    border-bottom-width:2px;
}

.resistor div.band {
    position: relative;
    height: 5px;
    width: 38px;
    left: -16px;
}

.resistor div.band.a {
    top: 20px;
}

.resistor div.band.b {
    top: 90px;
}

.resistor div.band.c {
    top: 160px;
}

.resistor div.band.d {
    top: 220px;
}


.resistor div.Black, option.Black{
    background-color: black;
    color:white;
}

.resistor div.Brown, option.Brown {
    background-color: brown;
}

.resistor div.Red, option.Red {
    background-color: red;
}

.resistor div.Orange, option.Orange {
    background-color: orange;
}

.resistor div.Yellow, option.Yellow {
    background-color: yellow;
}

.resistor div.Green, option.Green{
    background-color: green;
}

.resistor div.Blue, option.Blue{
    background-color: blue;
}

.resistor div.Violet, option.Violet{
    background-color: violet;
}

.resistor div.Grey, option.Grey{
    background-color: darkgrey;
}

.resistor div.White, option.White{
    background-color: white;
}

.resistor div.Gold, option.Gold{
    background-color: gold;
}

.resistor div.Silver, option.Silver{
    background-color: silver;
}

div.ohm-results-container {
    font-weight: bold;
    color: darkblue;
}

div.ohm-results {
    font-weight: normal;
}

div.reset {
    position:relative;
    top: 30px;
    left: 13px;
}