<form>
    <h1>Calculates the Ohm value of a resistor based on the band colors</h1>
    <p>Select different colors for band A, B, C and D to calculate</p>
    
    <hr>
    <div class="container">
        <div class="row">
            <div class="col-sm-6">
                <div class="form-group">
                    <label>Band A Color</label>
                    <select class="form-control" name="bandacolor" [(ngModel)]="bandACode" required (ngModelChange)="calculate()">
                        <option value="">-- choose color --</option>
                        <option [value]="code.color" *ngFor="let code of colorABCodes" class="{{code.color}}">{{code.color}}</option>
                    </select>

                </div>
                <div class="form-group">
                    <label>Band B Color</label>
                    <select class="form-control" name="bandbcolor" [(ngModel)]="bandBCode" required (ngModelChange)="calculate()">
                        <option value="">-- choose color --</option>
                        <option [value]="code.color" *ngFor="let code of colorABCodes" class="{{code.color}}">{{code.color}}</option>
                    </select>

                </div>
                <div class="form-group">
                    <label>Band C Color</label>
                    <select class="form-control" name="bandccolor" [(ngModel)]="bandCCode" required (ngModelChange)="calculate()">
                        <option value="">-- choose color --</option>
                        <option [value]="code.color" *ngFor="let code of colorCCodes" class="{{code.color}}">{{code.color}}</option>
                    </select>
                </div>
                <div class="form-group">
                    <label>Band D Color(+/-20% if left blank)</label>
                    <select class="form-control" name="banddcolor" [(ngModel)]="bandDCode" (ngModelChange)="calculate()">
                        <option value=""></option>
                        <option [value]="code.color" *ngFor="let code of colorDCodes" class="{{code.color}}">{{code.color}}</option>
                    </select>
                </div>

                <div class='ohm-results-container'>
                    Calculated Resistor Values:
                    <div class="ohm-results" *ngIf="calcSuccess">from {{calcResult.minValue}}&#8486; to {{calcResult.maxValue}}&#8486;</div>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="col-sm-1 resistor">
                    <div class="1"></div>
                    <div class="band a {{bandACode}}"></div>
                    <div class="2"></div>
                    <div class="band b {{bandBCode}}"></div>
                    <div class="3"></div>
                    <div class="band c {{bandCCode}}"></div>
                    <div class="4"></div>
                    <div class="band d {{bandDCode}}"></div>
                    <div class="5"></div>
                </div>
            </div>
            
        </div>
        <div class="row reset">
            <button type="button" class="btn btn-primary" (click)="resetAll()">Reset</button>
        </div>
    </div>
</form>